@charset "utf-8";
/* CSS Document */
*{
    box-sizing:border-box;
}
body{
	height:1100px;
    font-size:100%;
    background: -webkit-linear-gradient(red, black);
    background-repeat:no-repeat;
}
.back{
    position:absolute;
    height:1000px;
    max-height:1100px;
    min-height:1100px;
    width:70%;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 0 15%;
    background-color: white;
    z-index: 1;
}
/* Declaring 12 columns and sizes */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	float: left;
	padding: 15px;
	border: 2px solid black;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.Navigation{
    height: 50px;
    display: block;
    border: 2px solid #000000;
    background-color:#E50D11;
    margin: 0 auto;
    border-radius: 15px 15px 0px 0px;
}
ul{
	text-align:center;
  	position: relative;
  	margin: 7px auto;
  	font-size: 1em;
}
li{
  display: inline-block;
  padding: 0px 4.5%; 
}
a{
	color:#000000;
	border:none;
	text-decoration:none;
}
/*
.pages{
	background-color:#E50D11;
	border:medium;
	font-size: 1.5vw;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
a{
	color:#000000;
	border:none;
	text-decoration:none;
}
#back{
	display:block;
	background-color:#FFFFFF;
	margin:0px 14.9%;
	height:500px;
	width:69%;
	position:absolute;
	z-index:-1;
}

#Space{
	font-size:1.7vw;
	color:#FF0004;
	font-family:Copperplate, "Copperplate Gothic Light", fantasy;
	text-align:center;
	margin:0px;
	padding:0px;
}
*/