@charset "utf-8";
/* CSS Document */
*{
    box-sizing:border-box;
}
#canvas{
	border: none;
	width: 500px;
	height: 500px;
	background-color: black;
}

.stats {
	border: 2px solid black;
	font: 25px;
	width: 85px;
	height: auto;
	text-align: center;
}