@charset "utf-8";
/* CSS Document */
*{
    box-sizing:border-box;
}
body{
    font-size:100%;
    height:1100px;
    max-height:1500px;
    background-repeat:no-repeat;
}
.back{
    position:absolute;
    height:1000px;
    max-height:1100px;
    min-height:1100px;
    width:70%;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 0 15%;
    background-color: white;
    z-index: 1;
}
/* Declaring 12 columns and sizes */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 2px solid black;
}

/*Start Navigation bar */
.Navigation{
    height: 50px;
    display: block;
    border: 1px solid #000000;
    margin: 0 auto;
    border-radius: 15px 15px 0px 0px;
}
ul{
	text-align:center;
  position: relative;
  margin: 7px auto;
  font-size: 1em;
}
li{
  display: inline-block; 
  padding: 0px 5%;
}
a{
	color:#000000;
	border:none;
	text-decoration:none;
}
#login{
  border:2px solid black;
}
#login:hover{
  background-color: #bac1ba;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #bac1ba;
    cursor: pointer;
}
.dropbtn{
    font-size: 1.7vw;
    height: inherit;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    display: inline-block; 
    z-index:1;
}
.dropdown {
    position: relative;
    display: inline-block;
    bottom: 5px;
    font-size: 1.7vw;
    padding: 0px 2%;
}
/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #4286f4;
    width:100%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#drop5{
  width: 175%;
}
/* Links inside the dropdown */
.dropdownContent a {
    color: black;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdownContent a:hover {
  background-color: #f1f1f1;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

/*End Navigation Bar */

/*Start slideshow */
.slideshow{
    border: 1px solid #000000;
    margin: 0%;
    width: 100%;
    height:270px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.button {
    background-color: rgba(221, 211, 211, 0.5);
    border: none;
    border-radius:80px;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.button:hover{
  cursor:pointer;
}
#back{
  margin:100px 0px;
  float:left;
}
#next{
  margin:100px 0px;
  float:right;
}
/*End Slideshow */
#Space,#Arch,#Nature,#Animals,#Art{
    display: block;
    height:220px;
    max-height: 220px;
    width: 30%;
	  max-width:400px;
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    background-size:100% 100%;
}
#Space{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ea/d8/c6/ead8c6a5dbdd527800b292b07b5cdb91.jpg");
    margin:5px 20%;
    position:absolute;
}
#Arch{
    background-image: url("http://tellmenothing.com/wp-content/uploads/2017/06/Burj-Khalifa.jpg");
    margin:5px 50.5%;
}
#Nature{
    background-image: url("https://ogledi.bg/img/blog-img/forest_593e748150b51.jpg");
    margin:0px 20%;
    position:absolute;
}
#Animals{
    background-image: url("http://i.huffpost.com/gen/1215759/images/o-LION-facebook.jpg");
    margin:0px 50.5%;
}
#Art{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/85/fe/f7/85fef7b1a4188f8a63f29a28eaa6fd09.jpg");
    margin:0px 20%;
    position: relative;
    top: 0.4%;
}
.text{
  display: inline-block;
  font-size: 2.5em;
  text-align:center;
  color:#000000;
  text-shadow: 2px 2px 2px #ffffff;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  position:relative;
  padding: 6px 5%;
}
#Arch{
  text-align: center;
  overflow: hidden;
  font-size: 80%;
  padding: 0px 0px;
}

p1,p2,p3,p4,p5,p6{
    position: absolute;
    top: 50%;
    margin-top: -0.8em;
}

/* Code to hide snakeGame div
#snakeGame
{
	display: none;
}
*/
